<!DOCTYPE html>
<html>
  <head>
    <title>Minha Aplicação - Dashboard</title>
    <link rel="stylesheet" href="./dashboard.css" />
  </head>
  <body>
    <div class="rootDiv">
      <div class="side-bar">
        <div class="nav">
          <div class="guildSettings">
            <div class="navguild">
              <div class="guild-opener">
                <div class="navGuildItems">
                  <h4 class="guildSelectorName">
                    <input
                      type="text"
                      placeholder="Find or start a conversation"
                    />
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="userBox">
          <img src="<%= user.avatarURL %>" alt="avatar" class="userAvatar" />
          <div class="userinfo">
            <h4 class="username" id="username"><%= user.username %></h4>
            <h6 class="discriminator" id="discriminator">
              <%= user.discriminator %>
            </h6>
          </div>
          <div class="usermenuicons">
            <div class="mic" id="micToggle">
              <svg
                aria-hidden="true"
                role="img"
                width="20"
                height="20"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M14.99 11C14.99 12.66 13.66 14 12 14C10.34 14 9 12.66 9 11V5C9 3.34 10.34 2 12 2C13.66 2 15 3.34 15 5L14.99 11ZM12 16.1C14.76 16.1 17.3 14 17.3 11H19C19 14.42 16.28 17.24 13 17.72V21H11V17.72C7.72 17.23 5 14.41 5 11H6.7C6.7 14 9.24 16.1 12 16.1ZM12 4C11.2 4 11 4.66667 11 5V11C11 11.3333 11.2 12 12 12C12.8 12 13 11.3333 13 11V5C13 4.66667 12.8 4 12 4Z"
                  fill="currentColor"
                ></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M14.99 11C14.99 12.66 13.66 14 12 14C10.34 14 9 12.66 9 11V5C9 3.34 10.34 2 12 2C13.66 2 15 3.34 15 5L14.99 11ZM12 16.1C14.76 16.1 17.3 14 17.3 11H19C19 14.42 16.28 17.24 13 17.72V22H11V17.72C7.72 17.23 5 14.41 5 11H6.7C6.7 14 9.24 16.1 12 16.1Z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
            <div class="headphone" id="headphoneToggle">
              <svg
                aria-hidden="true"
                role="img"
                width="20"
                height="20"
                viewBox="0 0 24 24"
              >
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <path
                    d="M12 2.00305C6.486 2.00305 2 6.48805 2 12.0031V20.0031C2 21.1071 2.895 22.0031 4 22.0031H6C7.104 22.0031 8 21.1071 8 20.0031V17.0031C8 15.8991 7.104 15.0031 6 15.0031H4V12.0031C4 7.59105 7.589 4.00305 12 4.00305C16.411 4.00305 20 7.59105 20 12.0031V15.0031H18C16.896 15.0031 16 15.8991 16 17.0031V20.0031C16 21.1071 16.896 22.0031 18 22.0031H20C21.104 22.0031 22 21.1071 22 20.0031V12.0031C22 6.48805 17.514 2.00305 12 2.00305Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </svg>
            </div>
            <div class="settings" id="settingsToggle">
              <svg
                aria-hidden="true"
                role="img"
                width="20"
                height="20"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M19.738 10H22V14H19.739C19.498 14.931 19.1 15.798 18.565 16.564L20 18L18 20L16.565 18.564C15.797 19.099 14.932 19.498 14 19.738V22H10V19.738C9.069 19.498 8.203 19.099 7.436 18.564L6 20L4 18L5.436 16.564C4.901 15.799 4.502 14.932 4.262 14H2V10H4.262C4.502 9.068 4.9 8.202 5.436 7.436L4 6L6 4L7.436 5.436C8.202 4.9 9.068 4.502 10 4.262V2H14V4.261C14.932 4.502 15.797 4.9 16.565 5.435L18 3.999L20 5.999L18.564 7.436C19.099 8.202 19.498 9.069 19.738 10ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="servers">
        <div class="homebutton">
          <svg
            class="homeIcon-r0w4ny"
            aria-hidden="true"
            role="img"
            width="28"
            height="20"
            viewBox="0 0 28 20"
          >
            <path
              fill="currentColor"
              d="M23.0212 1.67671C21.3107 0.879656 19.5079 0.318797 17.6584 0C17.4062 0.461742 17.1749 0.934541 16.9708 1.4184C15.003 1.12145 12.9974 1.12145 11.0283 1.4184C10.819 0.934541 10.589 0.461744 10.3368 0.00546311C8.48074 0.324393 6.67795 0.885118 4.96746 1.68231C1.56727 6.77853 0.649666 11.7538 1.11108 16.652C3.10102 18.1418 5.3262 19.2743 7.69177 20C8.22338 19.2743 8.69519 18.4993 9.09812 17.691C8.32996 17.3997 7.58522 17.0424 6.87684 16.6135C7.06531 16.4762 7.24726 16.3387 7.42403 16.1847C11.5911 18.1749 16.408 18.1749 20.5763 16.1847C20.7531 16.3332 20.9351 16.4762 21.1171 16.6135C20.41 17.0369 19.6639 17.3997 18.897 17.691C19.3052 18.4993 19.7718 19.2689 20.3021 19.9945C22.6677 19.2689 24.8929 18.1364 26.8828 16.6466H26.8893C27.43 10.9731 25.9665 6.04728 23.0212 1.67671ZM9.68041 13.6383C8.39754 13.6383 7.34085 12.4453 7.34085 10.994C7.34085 9.54272 8.37155 8.34973 9.68041 8.34973C10.9893 8.34973 12.0395 9.54272 12.0187 10.994C12.0187 12.4453 10.9828 13.6383 9.68041 13.6383ZM18.3161 13.6383C17.0332 13.6383 15.9765 12.4453 15.9765 10.994C15.9765 9.54272 17.0124 8.34973 18.3161 8.34973C19.6184 8.34973 20.6751 9.54272 20.6543 10.994C20.6543 12.4453 19.6184 13.6383 18.3161 13.6383Z"
            ></path>
          </svg>
        </div>
        <div class="server active"><hr class="server-divider" /></div>
        <div class="server">
          <div class="servers">
            <% for (let i = 0; i < guilds.length; i++) { %>
            <div class="server">
              <% if (guilds[i].iconURL) { %>
              <img
                src="<%= guilds[i].iconURL %>"
                alt="<%= guilds[i].name %> Icon"
              />
              <% } %>
            </div>
            <% } %>
          </div>
        </div>
        <div class="server invite">
          <p class="inviteButton">+</p>
        </div>
      </div>
    </div>
    <script src="/index.js"></script>
    <script src="/clipboard.js"></script>
  </body>
</html>
