<!DOCTYPE html>
<html>
  <head>
    <title>Minha Aplicação - Dashboard</title>
    <link rel="stylesheet" href="./dashboard.css" />
  </head>
  <body>
    <div class="container">
      <h1>
        Bem-vindo, <%= user.username %>#<%= user.discriminator %>
        <img src="<%= user.avatarURL %>" alt="<%= user.username %> Avatar" />
      </h1>
      <h2>Seus servidores:</h2>

      <div class="guild">
        <div class="guilds">
          <ul>
            <% for (let i = 0; i < guilds.length; i++) { %>
            <li>
              <% if (guilds[i].iconURL) { %>
              <img
                src="<%= guilds[i].iconURL %>"
                alt="<%= guilds[i].name %> Icon"
                0=""
              />
              <% } %> <%= guilds[i].name %>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    <a href="/logout">Sair</a>
    <script src="/index.js"></script>
  </body>
</html>
